.header {
    position: absolute;
    top: 40px;
    right: 40px;

    @media screen and (max-width: 700px) {
        & {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: unset;
            right: 20px;
        }
    }
}

.localization__menu {
    --bs-dropdown-min-width: auto;
}