.cv {
    min-width: 320px;
}

.cv-main__section {    
    display: flex;
    height: max-content;
    min-height: 100dvh;
    width: 100%;
    background: #E6DACE;
}

.section__content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    max-width: 850px;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .section__content {
        padding: 20px;
        gap: 20px;
    }
}

section:before {
    content: "";
    background-color: #bfb;
    top: -100px;
    height: 100px;
    width: 100%;
    position: absolute;
}

li {
    list-style-type: square;
    &::marker {
        color: #0d6efd;
    }
}
  