.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.profile__photo {
    max-width: 250px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__text {
    display: flex;
    flex-direction: column;

    .profile__title, .profile__subtitle {
        margin: unset;
        font-size: 1.5em;
    }

    .profile__break {
        width: 50%;
    }
}

