.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project__image {
    width: 100%;
}

.project__links {
    display: flex;
    gap: 20px;
    align-items: center;

    * {
        color: unset;
        text-decoration: none; 
    }
}

.project__technologies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}