<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    >
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= require('./assets/images/favicon.svg') %>"
    >
    <title>Диана Бутякова | Front-end разработчик</title>
  </head>
  <body class="cv">
    <main class="cv__main cv-main">
      <section class="cv-main__section profile-section">
        <div class="section__content profile">
          <div class="profile__aside">
            <img
              class="profile__photo"
              src="<%= require('./assets/images/profile-photo.jpg') %>"
              alt="profile-photo"
            >
            <div class="profile__header">
              <div class="profile__name h5">Диана Бутякова</div>
              <hr class="profile__break text-primary">
              <div class="profile__position h5 text-muted">Front-end разработчик</div>
            </div>
            <div class="profile__contacts contacts">
              <a href="https://www.linkedin.com/in/butiakova-diana" target="_blank"><i class="contact bi bi-linkedin link-opacity-100"></i></a>
              <a href="https://github.com/bt-diana" target="_blank"><i class="contact bi bi-github"></i></a>
              <a href="https://t.me/bt_diana" target="_blank"><i class="contact bi bi-telegram"></i></a>
              <a href="mailto:butiakova.diana@gmail.com" target="_blank"><i class="contact bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="profile__info">
            <header class="cv__header header">
              <div class="header__localization localization dropdown-menu-end">
                <button
                  class="localization__btn btn btn-outline-primary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  РУС
                </button>
                <ul class="localization__menu localization-menu dropdown-menu">
                  <li class="localization-menu__item dropdown-item">
                    <a data-lang="en" href="/cv/">ENG</a>
                  </li>
                  <li class="localization-menu__item dropdown-item">
                    <a data-lang="ru">РУС</a>
                  </li>
                </ul>
              </div>
            </header>
            <div class="profile__text">
              <div class="profile__uptitle">Здравствуйте, меня зовут</div>
              <h1 class="profile__title">Диана Бутякова.</h1>
              <h2 class="profile__subtitle text-body-secondary">Я - Front-end разработчик.</h2>
            </div>
            <a
              class="profile__download-cv--ru link-opacity-100"
              href="<%= require('./assets/data/cv-ru.pdf') %>"
              download="Диана Бутякова - Front-end разработчик.pdf"
            >Скачать CV</a>
            <div class="profile__links profile-links">
              <a class="btn btn-primary profile-links__resume" href="#resume">Резюме</a>
              <a class="btn btn-outline-primary profile-links__projects" href="#projects">Проекты</a>
            </div>
            <div class="summary__about about">
              <p class="about__paragraph">Имею опыт разработки адаптивных веб-приложений с помощью React.ts, конфигурации сборщиков пакетов, написании юнит-тестов, настройки ci-cd пайплайна и развертывания приложений.</p>
              <p class="about__paragraph">Ранее работала бизнес и системным аналитиком. Мой опыт во взаимодействии с клиентами, анализе требований и веб-разработке помогает создавать эффективные решения, ориентированные на пользователей.</p>
              <p class="about__paragraph">Буду рада сотрудничеству!</p>
            </div>
          </div>
        </div>
        <div class="profile__back"></div>
      </section>
      <section class="cv-main__section resume-section" id="resume">
        <div class="section__content resume">
          <h2 class="section__title">Резюме</h2>
          <div class="section__card section-card experience-card">
            <div class="section-card__title experience-card__title h5">Опыт</div>
            <div class="section-card__body card-body experience-card__body">
              <div class="card-body__item card-item experience-item">
                <div class="card-item__title experience-item__title experience-title">
                  <div class="experience-title__position text-primary fw-bold">Аналитик-проектировщик</div>
                  <div class="experience-title__time">Май 2023 - Ноябрь 2024<br>1г 7м</div>
                </div>
                <div class="card-item__text experience-item__text">На последнем месте работы занимала должность аналитика-проектировщика в команде разработки приложений для банковской сферы. В мои обязанности входили анализ и составление функциональных требований, проектирование базы данных и системы, а также разработка на low-code платформе на JavaScript и составление SQL-запросов для работы с данными.</div>
              </div>
              <div class="card-body__item card-item experience-item">
                <div class="card-item__title experience-item__title experience-title">
                  <div class="experience-title__position text-primary fw-bold">Бизнес аналитик</div>
                  <div class="experience-title__time">Июнь 2022 - Март 2023<br>10м</div>
                </div>
                <div class="card-item__text experience-item__text">Ранее работала бизнес аналитиком в команде разработки системы электронного документооборота (ЭДО). За время работы мне приходилось решать задачи по изучению бизнес-процесса заказчика и формированию функциональных требований, составлению ТЗ для дизайнера и приемке дизайнов, составлению ТЗ на разработку, описание первичных тест-кейсов. В данной команде разрабатывалось как десктопное веб-приложение, так и приложение для мобильных устройств и планшетов.</div>
              </div>
            </div>
          </div>
          <div class="section__card section-card education-card">
            <div class="section-card__title education-card__title h5">Образование</div>
            <div class="section-card__body card-body education-card__body">
              <div class="card-body__item card-item education-item">
                <div class="card-item__title education-item__title education-title">
                  <div class="education-title__text text-primary fw-bold">Бакалавриат, 2023</div>
                </div>
                <div class="card-item__text education-item__text">
                  Казанский (Приволжский) федеральный университет,
                  <br>Институт вычислительной математики и информационных технологий,
                  <br>Фундаментальная информатика и информационные технологии
                </div>
              </div>
            </div>
          </div>
          <div class="section__card section-card certifications-card">
            <div class="section-card__title certifications-card__title h5">Сертификаты</div>
            <div class="section-card__body card-body certifications-card__body">
              <div class="card-body__item card-item certifications-item">
                <div class="card-item__title certifications-item__title certifications-title">
                  <div class="certifications-title__text text-primary fw-bold">JS/FE PRE-SCHOOL 2024Q2 (JAVASCRIPT)</div>
                  <a href="https://app.rs.school/certificate/9cr8x76q" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                </div>
                <div class="card-item__text certifications-item__text">The Rolling Scopes School</div>
              </div>
            </div>
          </div>
          <div class="section__card section-card skills-card">
            <div class="section-card__title skills-card__title h5">Навыки</div>
            <ul class="section-card__body card-body skills-card__body">
              <li class="card-body__item card-item skills-item">
                <b>Верстка:</b> HTML, CSS (SASS), JavaScript (TypeScript)
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Библиотеки:</b> React (.js/.ts), Redux
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Сети:</b> Fetch API, Axios, JS WebSocket 
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Тестирование:</b> Jest, React Testing library
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Сборщики:</b> Webpack, Vite
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Принципы верстки:</b> Figma-to-code, Pixel-perfect, Адаптивная верстка
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Паттерны:</b> БЭМ, паттерн 7-1, MVC
              </li>
              <li class="card-body__item card-item skills-item">
                <b>Инструменты разработки:</b> Git, GitHub actions (ci-cd пайплайны)
              </li>
            </ul>
          </div>
          <div class="section__card section-card languages-card">
            <div class="section-card__title languages-card__title h5">Языки</div>
            <div class="section-card__body languages-card__body">
              <div class="card-body__item card-item languages-item">
                <div class="text-primary fw-bold languages-item__name">Англисйский</div>
                <div class="languages-item__level">Средне-продвинутый (B2)</div>
              </div>
              <div class="card-body__item card-item">
                <div class="text-primary fw-bold languages-item__name">Russian</div>
                <div class="languages-item__level">Родной</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cv-main__section projects-section" id="projects">
        <div class="section__content projects-section__content">
          <h2 class="section__title projects-section__title">Проекты</h2>
          <div class="projects">
            <div class="section__card section-card projects-card">
              <div class="section-card__title projects-card__title h5">Новогодний магазин</div>
              <div class="section-card__body card-body projects-card__body project">
                <div class="project__description">Этот проект представляет собой лендинг для магазина елочных игрушек. Веб-сайт состоит из двух адаптивных и интерактивных страниц. Дизайн был реализован на основе макета из Figma в технике pixel-perfect.</div>
                <div class="project__technologies project-technologies">
                  <div class="project-technologies__title h6">Использованные технологии</div>
                  <ul class="project-technologies__list technologies-list">
                    <li class="technologies-list__item">HTML</li>
                    <li class="technologies-list__item">SASS</li>
                    <li class="technologies-list__item">JavaScript</li>
                    <li class="technologies-list__item">Vite</li>
                  </ul>
                </div>              
                <div class="project__architecture project-architecture">
                  <div class="project-architecture__title h6">Архитектура проекта</div>
                  <div class="project-architecture__text">Наименование классов реализовано по методологии БЭМ, а организация стили соответсвуют паттерну 7-1.</div>
                </div>
                <div class="project__links project-links">
                  <a
                    class="project-links__item"
                    href="https://bt-diana.github.io/christmas-shop/"
                    target="_blank"
                  >
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                  <a
                    class="project-links__item"
                    href="https://github.com/bt-diana/christmas-shop"
                    target="_blank"
                  >
                    <i class="contact bi bi-github"></i>
                  </a>
                </div>
                <img
                  class="project__image"
                  src="<%= require('./assets/images/christmas-shop.png') %>"
                  alt="christmas-shop"
                >
              </div>
            </div>
            <div class="section__card section-card projects-card">
              <div class="section-card__title projects-card__title h5">Игра 2048</div>
              <div class="section-card__body projects-card__body project">
                <div class="project__description">Этот проект представляет собой реализацию игры 2048, созданную с упором на плавный пользовательский опыт и использование CSS-анимаций.</div>
                <div class="project__technologies project-technologies">
                  <div class="project-technologies__title h6">Использованные технологии</div>
                  <ul class="project-technologies__list technologies-list">
                    <li class="technologies-list__item">HTML</li>
                    <li class="technologies-list__item">CSS</li>
                    <li class="technologies-list__item">JavaScript</li>
                    <li class="technologies-list__item">Webpack</li>
                  </ul>
                </div>
                <div class="project__architecture project-architecture">
                  <div class="project-architecture__title h6">Архитектура проекта</div>
                  <div class="project-architecture__text">В проекте используется архитектура MVC и методология БЭМ.</div>
                </div>
                <div class="project__links project-links">
                  <a
                    class="project-links__item"
                    href="https://bt-diana.github.io/2048/"
                    target="_blank"
                  >
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                  <a
                    class="project-links__item"
                    href="https://github.com/bt-diana/2048"
                    target="_blank"
                  >
                    <i class="contact bi bi-github"></i>
                  </a>
                </div>
                <img
                  class="project__image"
                  src="<%= require('./assets/images/2048-game.gif') %>"
                  alt="2048"
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="cv__footer footer">
      <div class="footer__content footer-content">
        <div class="footer-content__copyright">Диана Бутякова, 2025</div>
        <div class="footer-content__contacts contacts">
          <a
            class="contacts__item"
            href="https://www.linkedin.com/in/butiakova-diana"
            target="_blank"
          >
            <i class="contact bi bi-linkedin link-opacity-100"></i>
          </a>
          <a
            class="contacts__item"
            href="https://github.com/bt-diana"
            target="_blank"
          >
            <i class="contact bi bi-github"></i>
          </a>
          <a
            class="contacts__item"
            href="https://t.me/bt_diana"
            target="_blank"
          >
            <i class="contact bi bi-telegram"></i>
          </a>
          <a
            class="contacts__item"
            href="mailto:butiakova.diana@gmail.com"
            target="_blank"
          >
            <i class="contact bi bi-envelope-fill"></i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>