html {
  scroll-behavior: smooth; 
}

body {
  margin: unset;
  padding: unset; 
}

a {
  color: unset;
  text-decoration: none; 
}

@media (hover: hover) {
  a:hover {
    color: unset;
    cursor: pointer; 
  } 
}

button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: unset;
  padding: unset;
  text-decoration: none;
  border: unset;
  background: unset;
  font: unset; 
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  padding: unset; 
}

p:last-child {
  margin-bottom: unset;
}

a {
  &:hover {
      color: #6c757d;
  }

  &:active {
      color: #5c636a;
  }
}